# dependencies
node_modules/

# builds
dist/
build/
.next/
out/

# env
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
.vercel/
.netlify/
coverage/

# system files
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.env.local:
backend/firebase-service-account.json
